@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

.musicPlayer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 50px 50px 50px;
  gap: 10px;
}

.counter {
  position: absolute;
  top: 30px;
  font-size: 16px;
  font-weight: 200;
  font-family: 'Rethink Sans', sans-serif;
  justify-self: flex-start;
}

.controls {
  position: relative;
  width: 100%;
  height: 80px;
}

.playPause {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #D9D9D9;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 37px solid #223547;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  margin-left: 10px;
}

.pauseIcon div {
  width: 10px;
  height: 37px;
  background-color: #223547;
}

.playPause.playing .playIcon {
  opacity: 0;
  z-index: 1;
  transform: translate(-50%, -50%) scale(0.8);
}

.playPause.playing .pauseIcon {
  opacity: 1;
  z-index: 2;
  transform: translate(-50%, -50%) scale(1);
}

.playIcon,
.pauseIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #d9d9d9;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.playIcon {
  opacity: 1;
  z-index: 2;
}

.pauseIcon {
  opacity: 0;
  z-index: 1;
  gap: 8px;
}

.playPause.playing .playIcon {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.8);
  z-index: 1;
}

.playPause.playing .pauseIcon {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  z-index: 2;
}

.nextButton {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 70%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D9D9D9;
  border-radius: 50%;
  gap: 1px;
  cursor: pointer;
}

.nextTriangle {
  width: 0;
  height: 0;
  border-left: 15px solid #223547;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.nextBar {
  width: 5px;
  height: 20px;
  background-color: #223547;
}

.fadeIn {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  pointer-events: none; /* da se ne klikne dok je fadeOut */
}