@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

.progressBar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  margin: 1rem auto;
  font-family: 'Rethink Sans', sans-serif;
}

.barContainer {
  flex: 1;
}

.bar {
  background-color: #ddd;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.progress {
  background-color: #2d86ff;
  height: 100%;
  width: 0;
  transition: width 0.3s ease;
}